extends layout

block header
    // Background game stylesheet
    link(rel='stylesheet', href='/stylesheets/game.css')
    

block content
    // Background game content
    //- div#player.sprite(onmousedown = "init()")
    //- div#enemy.sprite

    canvas#canvas(width = "1600", height = "600", style="left:0px; top:0px; position:absolute;")

    script(src='/javascripts/game/game.js')
    script(src='/javascripts/game/input.js')
    script(src='/javascripts/game/sprite.js')
    script(src='/javascripts/game/gameobject.js')