extends layout

block content

    h1 Hi, I'm Vinny. You should play my games.
    br

    h2 School Projects
    p
        a(href = '/portfolio/call-of-boidy')
            | Call of Boidy
        | - Target practice with flocking AI

    p
        a(href = '/portfolio/fps-man')
            | FPS-MAN
        | - First person PAC-MAN with accurate ghost AI

    p
        a(href = '/portfolio/kart-kollision')
            | Vinny's Kart Kollision Extravaganza
        | - Silly party racing game for 4 players

    br
    br
    br
    
    h2 Personal Projects
    p
        a(href = '/portfolio/background-game-concept')
            | Site concept
        | - (Unfinished and broken) Twin stick shooter in canvas

    br
    br
    br

    h3
        a(href = 'https://github.com/GhostBehr')
            | Github

    h3
        a(href = 'mailto:vinnycrupi@hotmail.com?Subject=I%20love%20all%20of%20your%20games%20let%20me%20pay%20you')
            | Contact Me