extends layout

block content

    div#container
        
        div#center.column
            div.content
                h1 Vinnymakesgames.com
                p Work in progress personal website of Game Developer Vinny Crupi
                p Written using Node.js, Jade, and my tears
                p Current progress can be found at 
                    a(href = 'https://github.com/GhostBehr/vinnymakesgames').
                        github.com/GhostBehr/vinnymakesgames

        div#left.column
            div.content
                h1 Hi
                p This is gonna be a nav area

        div#right.column
            div.content
                h1 Woah there
                p What's this gonna be? A secret!

    div#footer
        p Ninja footer!
            a(href = 'http://www.vinnymakesgames.com/game').
                        Here is a secret link to a thing!