extends layout

block content

    div#container
        
        div#center.column
            div.content
                h1 Vinny
                h1 makes
                h1 games.com

        div#left.column
            div.content
                h1 hterst   
                p This is
                p the nav
                p bar

        div#right.column
            div.content
                h1 Highscores
                p load me please

    div#footer
        p PUT IT IN HER FOOTER