extends layout

block content

    h1 Hi, I'm Vinny. You should play my games.
    br

    h3
        a(href = 'https://4d7bb1adf5d8e4a87dd890be1637f3cc68308cba.googledrive.com/host/0B98Pcoezo896dkFaR25YTGFvZXM/CallOfBoidy.html')
            | Call of Boidy

    br
    br
    div Yup, That's all that's here. Don't go looking around. Especially not near /wip