.sprite {
    position: absolute;
}

/*#player {
    width: 20px;
    height: 20px;
    left: 185px;
    top: 20px;
    background-color: rgb(235, 164, 103);
}

#enemy {
    width: 20px;
    height: 20px;
    left: 400px;
    top: 100px;
    background-color: rgb(104, 194, 68);
}

#bullet {
    width: 5px;
    height: 5px;
    background-color: white;
}*/

#canvas {   /* for testing */
    border: 5px solid #333;
}