body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    min-width: 600px;
    background-color: black;
    color: white;
}

a, a:active, a:link, a:visited, a:focus, a:hover {
    color:inherit;
}


#container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

#center {
    width: 60%;
}

#left, #right {
    width: 20%;
}

div .column {
    display: inline-block;
}

.obstacle {
    display: block;
    position: relative;
}